QPushButton {
    background-color: #B8F397;
    color: #000000;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    text-align: left;
    font-weight: bold;
}

QLineEdit {
    background-color: transparent;
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    text-align: left;
    text-weight: bold;
}

QProgressBar {
    border-radius: 6px;
    color: #B8F397;
}